body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
}
.nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  background-color: black;
  align-items: center;
  
}

.nav li {
  flex: 1;
  justify-content: center;
  color: white;
 
}

.nav li:first-child {
  text-transform: uppercase;
  font-size: 25px;
  color: blue;
}

a:visited { 
  text-decoration: none; 
  color: white; 
 }

 a {
   text-decoration: none;
 }

 .first_post div{ 
  display: flex;
  align-items: center;
}

.first_post p, .post p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
}



img {
  max-width: 100%;
  height: auto;
}

a {
  color: white;
  background-color: black;
}

a:visited {
  color: white;
}

@media (max-width: 600px) {
   .nav {
    flex-direction: column;
   }
 }